body {
    margin: 0;
    background-color: darkblue;
}

h2 {
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}

.card {
    padding-top: 20px;
    border: 1px solid white;
    background-color: darkblue;
    height: 460px;
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.black {
    width: 85%;
    border: 1px solid black;
    height: 50%;
    margin: 0 auto;
    background-image: url("black.JPG");
}

.score {
    font-family: 'Orbitron', sans-serif;
    font-size: 70pt;
    font-weight: bold;
    position:relative;
    top:25px;
}

div#changeHome, div#changeGuest {
    color: red;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.buttz {
    height: 150px;
    width: 30%;
    font-size: 27pt;
    font-weight:bold;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

button.booties {
    color: white;
    background-color: darkblue;
    border: 1px solid white;
}

button#newGame {
    margin-top: 20px;
}